/node_modules
/public/hot
/public/storage
/public/chunks
/public/css
/public/js
/public/img
/public/fonts
/public/index.html
/public/mix-manifest.json
/storage/*.key
/vendor
.env
package-lock.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.DS_Store
